<section id="about">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-2">
                <div class="about-carousel owl-carousel">
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                </div>
            </div>

            <div class="section-col section-col-2 about-description">

                <iframe width="100%" height="auto" style="" src="https://www.youtube.com/embed/DSvNFOCsYlM" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</section>