
<!--<header>-->
    <!--<h1>Weather Forecast</h1>-->
<!--</header>-->

<!--<div id="weather">-->

    <!--<ul id="scroller">-->
        <!--&lt;!&ndash; The forecast items will go here &ndash;&gt;-->
    <!--</ul>-->

    <!--<a href="#" class="arrow previous">Previous</a>-->
    <!--<a href="#" class="arrow next">Next</a>-->

<!--</div>-->

<!--<p class="location"></p>-->

<!--<div id="clouds"></div>-->


<section>
    <header>
        <div class="top-header">
            <div class="container">
                <div id="currency">
                    <!-- Minfin.com.ua nbu informer 100x42 white-->
                    <div id="minfin-informer-m1Fn-nbu">Загружаем <a href="https://minfin.com.ua/currency/" target="_blank">курсы валют</a> от minfin.com.ua</a></div><script type="text/javascript">var iframe = '<ifra'+'me width="100" height="42" fram'+'eborder="0" src="https://informer.minfin.com.ua/gen/nbu/?color=white" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100px;height:42px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-nbu';document.getElementById(cl).innerHTML = iframe; </script><noscript><img src="https://informer.minfin.com.ua/gen/img.png" width="1" height="1" alt="minfin.com.ua: курсы валют" title="Курс валют" border="0" /></noscript>
                    <!-- Minfin.com.ua nbu informer 100x42 white-->
                </div>
                <div id="weather">
                    <!-- weather widget start --><a target="_blank" href="http://nochi.com/weather/kharkiv-19227"><img src="https://w.bookcdn.com/weather/picture/13_19227_1_20_000000_158_fff5d9_ffffff_ffffff_2_fff5d9_333333_0_6.png?scode=124&domid=604&anc_id=19302"  alt="booked.net"/></a><!-- weather widget end -->
                </div>
                <div class="sing">
                    <span  id="singIn" onclick="openFormIn(this)" >Войти</span>/<span  id="singReg"  onclick="openFormReg(this)">Зарегесрироваться</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo-wrapper">
                <img class="logo-images" src="images/logo.png" alt="logo-yoga">
                <div class="logo-text">news</div>
            </div>
            <ul class="navigation-list-left navigation-list">
                <li class="navigation-item">
                    <a href="#about" class="navigation-link ">About us  </a>
                </li>
                <li class="navigation-item">
                    <a href="#programs" class="navigation-link">Reservation  </a>
                </li>
                <li class="navigation-item">
                    <a href="#gallery" class="navigation-link"> Gallery</a>
                </li>
                <li class="navigation-item">
                    <a href="#blog" class="navigation-link">Blog</a>
                </li>
                <li class="navigation-item">
                    <a href="#elements" class="navigation-link">Elements</a>
                </li>
                <li class="navigation-item">
                    <a href="#shop" class="navigation-link">Shop</a>
                </li>
            </ul>

        </div>
    </header>
</section>